.status {
  color: #D4D4D4;
  position: relative;
  display: inline-block;
  
  &::before {
    display: block;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 30px;
    background-color: #CACACA;
    position: absolute;
    top: 5px;
    left: -9px;
  }

  
  &--online {
    &::before {
      background-color: #00c980;
    }
  }
}